form.search {
  overflow: hidden;
  margin-bottom: 10px;
}

.input-wrapper {
  width: 100%;
  display:inline-block;
  position: relative
}

.fa-search {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.search-btn {
  border:none; 
  width: 0px;
  height: 0px;
  padding: 0;
}